body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    padding: 20px;
}

form {
    background: #fff;
    padding: 20px;
}

.form-label {
    font-weight: 600;
    color: #555;
}

.form-control, .form-select, .form-check-input {
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: all 0.3s;
}

.form-control:focus, .form-select:focus, .form-check-input:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.input-group-text {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px 0 0 5px;
}

.btn-primary {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #0056b3;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.invalid-feedback, .valid-feedback {
    font-size: 0.875rem;
}

.invalid-feedback {
    color: #dc3545;
}

.valid-feedback {
    color: #28a745;
}

.is-valid {
    border-color: #28a745;
}

.is-invalid {
    border-color: #dc3545;
}

.is-valid:focus {
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.is-invalid:focus {
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}

#btnSubmit {
margin-left: 760px;
}